footer(class="pt-5 pb-5")
  div(class="container")
    div(class="row")
      div(class="col-md-4 mb-5")
        include ../../public/images/small_logo.svg
        address 
        br
        | Mangosing Law Group
        br
        | 911 Marina Way South, Suite A
        br
        | Richmond, CA 94804

        p
        br
        | (510)237-7982
        br
        | (510)237-4797
        br
        | info&#x40;mangosinglawgroup.com
      div(class="col-md-8 mb-5")
        h3 CONTACT US
        p Actually drinking vinegar schlitz, williamsburg tote bag literally air plant. Green juice trust fund synth humblebrag etsy hoodie. Dreamcatcher truffaut listicle snackwave edison bulb glossier.
        form
          div(class="row mb-3")
            div(class="col")
              input(type="text" class="form-control" placeholder="First name")
            div(class="col")
              input(type="text" class="form-control" placeholder="Last name")
          div(class="row")
            div(class="col")
              div(class="form-group")
                textarea(class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message")
          button(type="submit" class="btn btn-primary") Send Message