footer(class="footer")
  div(class="container")
    div(class="columns")
      div(class="column has-text-centered")
        img(src="images/horizontal_logo.svg")
        p Mangosing Law Group 911 Marina Way South, Suite A, Richmond, CA 94804
        p Phone: (510)237-7982 -  Fax: (510)237-4797 - Email: info&#x40;mangosinglawgroup.com

script(src="js/main.js")