div(class="container text-center home-text")
  h1 Something nice about what you do. Should be a quick tagline to get peoples attention.
  p Just more filler text about what you do. Should compliment the tagline.
  button(type="button" class="btn btn-outline-light") Learn More