nav(class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation")
  div(class="container")
    div(class="navbar-brand")
      a(class="navbar-item" href="/")
        img(src="images/horizontal_logo.svg")

      a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")

    div(id="navbarBasicExample" class="navbar-menu")

      div(class="navbar-end")
        a(class="navbar-item" href="/about") Meet The Team


section(class="hero")
  div(class="hero-body")
    //- div(class="container")
    //-   h1(class="title") Hero title
    //-   h2(class="subtitle") Hero subtitle
