<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    )
    link(href="https://fonts.googleapis.com/css?family=Raleway:700|Roboto:300,400,500" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")
    title Mangosing Group Law
  body
    include partials/navigation.pug
    //- main(role="main")
    //-   div(class="jumbotron d-flex align-items-center")
    //-     include partials/home_jumbo_text.pug



    block content