html,body {
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}
.jumbotron {
  background: url(../images/bay_bridge.jpg);
  background-size: cover;
  border-radius: 0;
  min-height: 80vh;
  padding: 0;
  margin: 0;
  padding-bottom: 3rem;
}
.home-text {
  margin-top: 6rem;
  color: #ffffff;
}
.container-fluid {
  margin-top: -1rem;
}

.spanish {
  background: #EE4C4C;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 100;
}
.spanish a:link {
  color: #ffffff;
}
.spanish a:visited {
  color: #ffffff;
}
.spanish a:hover {
  color: #f8f8f8;
}
.spanish p {
  margin-bottom: 0;
}

.spanish p span {
  font-weight: 500;
  font-style: italic;
}

.intro {
  background: #314D6F;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 100;
}

.wc>.col, .nfl>.col, .section-img {
  padding: 0;
}

.about-header {
  border-bottom: 1px solid #C1BEBE;
  margin-bottom: 2rem;
}
.profile {
  margin-bottom: 2rem;
}
footer {
  background: #232731;
  color: #ffffff;
}

.form-control {
  padding: .75rem .75rem;
  font-size: 1rem;
  color: #495057;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0;
}

.form-control:focus {
  color: #e7e7e7;
  background-color: transparent;
  border-color: #eaeaea;
}