extends ../base.pug

block content
  section(class="section")
    div(class="container")
      p(class="col pt-5 pb-5") Green juice gochujang truffaut hella brooklyn, artisan vice messenger bag affogato. Twee succulents raw denim yuccie, wolf truffaut taxidermy salvia next level direct trade. Glossier tote bag truffaut celiac banjo adaptogen stumptown leggings. Stumptown butcher humblebrag, cray cronut try-hard schlitz fanny pack bicycle rights vegan authentic lumbersexual tattooed kitsch. Subway tile edison bulb cloud bread williamsburg, messenger bag taiyaki raclette put a bird on it leggings vexillologist distillery everyday carry. Jianbing meditation plaid poke, la croix tbh normcore trust fund pork belly authentic keffiyeh put a bird on it. Lumbersexual pop-up marfa chartreuse glossier. Lumbersexual post-ironic snackwave humblebrag, hammock fingerstache austin echo park subway tile neutra polaroid. Four dollar toast artisan wolf jean shorts vinyl man bun mixtape ethical +1 gentrify sriracha. You probably haven't heard of them fashion axe echo park 90's church-key fixie, shaman hot chicken kombucha whatever leggings put a bird on it. Vexillologist pok pok man bun truffaut pabst tattooed. Authentic offal swag, intelligentsia chia YOLO fixie next level scenester williamsburg cold-pressed.
  section(class="section")
    div(class="container")
      h1(class="about-header title") Our Staff
      hr
  
      div(class="columns")
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/roxanne_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Roxanne Mangosing </br> <span class="is-size-5 has-text-weight-light">Attorney &amp; Founder</span>
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/phil_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Phil Allen </br> <span class="is-size-5 has-text-weight-light">Attorney</span>
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/daisy_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Daisy Zepeda </br> <span class="is-size-5 has-text-weight-light">Office Manager</span>

      div(class="columns")
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/ebelia_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Ebelia Beccera </br> <span class="is-size-5 has-text-weight-light">Bilingual Legal Assistant</span>
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/mary_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Mary Carr </br> <span class="is-size-5 has-text-weight-light">Legal Assistant</span>

  include ../partials/footer.pug

  include ../partials/scripts.pug