extends ../base.pug

block content
  section(class="section")
    div(class="container")
      p(class="col pt-5 pb-5") Roxanne Mangosing and the entire staff at Mangosing Law Group take pride in fighting for injured workers’ rights. Formerly the Law Office of Kelley Ann Burg our firm specializes in moving through the complex Workers’ Compensation system, which now calls for the expertise of a knowledgeable attorney in order to achieve justice for injured workers. Don’t wait no matter what your job or injury is. Call our firm today for a free consultation.
  section(class="section")
    div(class="container")
      h1(class="about-header title") Our Staff
      hr

      div(class="columns")
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/roxanne_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Roxanne Mangosing </br> <span class="is-size-5 has-text-weight-light">Attorney &amp; Founder</span> </br> <span class="is-size-6 has-text-weight-light">rmangosing@mangosinglaw.com</span>
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/phil_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Phil Allen </br> <span class="is-size-5 has-text-weight-light">Attorney & Hearing Rep.</span> </br> <span class="is-size-6 has-text-weight-light">philallen@mangosinglaw.com</span>
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/daisy_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Daisy Zepeda </br> <span class="is-size-5 has-text-weight-light">Office Manager </br>Fluent in Spanish</span></br> <span class="is-size-6 has-text-weight-light">dzepeda@mangosinglaw.com</span>

      div(class="columns")
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/clara_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Clara Contreras </br> <span class="is-size-5 has-text-weight-light">Front Desk Receptionist </br>Fluent in Spanish</span> </br> <span class="is-size-6 has-text-weight-light">Ccontreras@mangosinglaw.com</span>
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/mary_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Mary Carr </br> <span class="is-size-5 has-text-weight-light">Legal Assistant</span> </br> <span class="is-size-6 has-text-weight-light">mcarr@mangosinglaw.com</span>
        div(class="column is-one-third")
          div(class="card")
            div(class="card-image")
              figure(class="image")
                img(src="/images/staff/sabtir_profile.jpg" class="is-rounded")
            div(class="card-content")
              div(class="content")
                h2 Satbir Bhaurla </br> <span class="is-size-5 has-text-weight-light">Legal Assistant </br> Fluent in Hindi and Punjabi </span> </br> <span class="is-size-6 has-text-weight-light">sbhaurla@mangosinglaw.com</span>


  include ../partials/footer.pug

  include ../partials/scripts.pug