extends ../base.pug

block content
  div(class="container-fluid")
    section(class="row spanish text-center")
      a(href="#" class="col pt-3 pb-3"): p
        | ¿Hablas español? 
        span Haga clic aquí 
        | para ver la versión en español de nuestro sitio web.

  div(class="container")
    section(class="row")
      p(class="col pt-5 pb-5") Green juice gochujang truffaut hella brooklyn, artisan vice messenger bag affogato. Twee succulents raw denim yuccie, wolf truffaut taxidermy salvia next level direct trade. Glossier tote bag truffaut celiac banjo adaptogen stumptown leggings. Stumptown butcher humblebrag, cray cronut try-hard schlitz fanny pack bicycle rights vegan authentic lumbersexual tattooed kitsch. Subway tile edison bulb cloud bread williamsburg, messenger bag taiyaki raclette put a bird on it leggings vexillologist distillery everyday carry. Jianbing meditation plaid poke, la croix tbh normcore trust fund pork belly authentic keffiyeh put a bird on it. Lumbersexual pop-up marfa chartreuse glossier. Lumbersexual post-ironic snackwave humblebrag, hammock fingerstache austin echo park subway tile neutra polaroid. Four dollar toast artisan wolf jean shorts vinyl man bun mixtape ethical +1 gentrify sriracha. You probably haven't heard of them fashion axe echo park 90's church-key fixie, shaman hot chicken kombucha whatever leggings put a bird on it. Vexillologist pok pok man bun truffaut pabst tattooed. Authentic offal swag, intelligentsia chia YOLO fixie next level scenester williamsburg cold-pressed.
    div(class="row")
      h1(class="col-12 about-header") Our Staff
      section(class="profile")
        div(class="row")
          div(class="col-md-3")
            img(src="/images/roxanne_profile.jpg" class="img-fluid")
          div(class="col-md-9")
            h2 Roxanne Mangosing
            h6 Founder
            p Succulents iceland synth lo-fi, kogi occupy austin forage blue bottle cray tousled. Austin typewriter echo park deep v waistcoat kale chips lomo ethical williamsburg food truck squid fashion axe before they sold out mixtape. Sustainable godard messenger bag, cronut blog literally disrupt actually jean shorts af DIY umami photo booth forage. Flannel plaid lo-fi, butcher subway tile pitchfork hella bicycle rights. 
    div(class="row")
      section(class="profile")
        div(class="row")
          div(class="col-md-3")
            img(src="/images/roxanne_profile.jpg" class="img-fluid")
          div(class="col-md-9")
            h2 Roxanne Mangosing
            h6 Founder
            p Succulents iceland synth lo-fi, kogi occupy austin forage blue bottle cray tousled. Austin typewriter echo park deep v waistcoat kale chips lomo ethical williamsburg food truck squid fashion axe before they sold out mixtape. Sustainable godard messenger bag, cronut blog literally disrupt actually jean shorts af DIY umami photo booth forage. Flannel plaid lo-fi, butcher subway tile pitchfork hella bicycle rights. 
  include ../partials/footer.pug