extends ../base.pug

block content
  section(class="section intro")
    div(class="container")
      div(class="columns")
        div(class="column has-text-centered")
          p Roxanne Mangosing and the entire staff at Mangosing Law Group take pride in fighting for injured workers’ rights. Formerly the Law Office of Kelley Ann Burg our firm specializes in moving through the complex Workers’ Compensation system, which now calls for the expertise of a knowledgeable attorney in order to achieve justice for injured workers. Don’t wait no matter what your job or injury is. Call our firm today for a free consultation.
  section(class="section practice")
    div(class="container")
      div(class="has-text-centered secTitle")
        h2 Practice <strong>Areas</strong>
        p Sriracha four dollar toast quinoa, la croix raclette DIY church key ugh jean shorts pour-over next level listicle.
      div(class="columns")
        div(class="column is-half")
          h2 
            | Workers 
            br 
            | <strong>Compensation</strong>
          
          p Workers’ Compensation has become increasingly complex over the last 15 years.  Now, no injured worker can afford to go it alone.  The only way to make sure that you are treated fairly is to have a law office on your side that has the knowledge and experience to fight for the benefits you are legally entitled to receive.  Without a partner in your corner you are at the mercy of the insurance companies and they will take advantage of you whenever they can.  We are dedicated to making sure that our clients receive every benefit allowed by law and to make sure that the insurance company pays you what you are owed.
          p Call us now for a free case evaluation.  We will evaluate your case and explain to you the process.   Find out the benefits of having a winning team on your side.
        div(class="column is-half")
          h2 Subsequent Injuries </br> <strong>Benefits Trust Fund</strong> 
          p The Subsequent Injuries Benefits Trust Fund (SIBTF) is another source of compensation for injured workers. In order to recover from the SIBTF you must have a later work-related injury and a pre-existing disability and the result of all of the combined disabilities leaves you with a significant impairment. The pre-existing disability does not have to be work related.  For example, if you hurt your back on the job and before that time you injured your leg in an auto accident, you may be eligible to receive additional compensation from the SIBTF because of both injuries. The purpose of the SIBTF is to encourage employers to hire workers with pre-existing disabilities.
  //- section(class="section client-reviews")
  //-   div(class="has-text-centered secTitle")
  //-     h2 Client <strong>Reviews</strong>
  //-   div(class="container")
  //-     div(class="columns")
  //-       article(class="column is-one-third")
  //-         div(class="card")
  //-           div(class="card-content")
  //-             p "Synth sustainable wayfarers, truffaut deep v williamsburg pok pok before they sold out taxidermy tumblr. Hexagon typewriter hell of, knausgaard mumblecore."
  //-             p(class="subtitle") - Client Name
  //-       article(class="column is-one-third")
  //-         div(class="card")
  //-           div(class="card-content")
  //-             p "Synth sustainable wayfarers, truffaut deep v williamsburg pok pok before they sold out taxidermy tumblr. Hexagon typewriter hell of, knausgaard mumblecore."
  //-             p(class="subtitle") - Client Name
  //-       article(class="column is-one-third")
  //-         div(class="card")
  //-           div(class="card-content")
  //-             p "Synth sustainable wayfarers, truffaut deep v williamsburg pok pok before they sold out taxidermy tumblr. Hexagon typewriter hell of, knausgaard mumblecore."
  //-             p(class="subtitle") - Client Name

  include ../partials/footer.pug

  include ../partials/scripts.pug