extends ../base.pug

block content
  div(class="container-fluid")
    section(class="row spanish text-center")
      p(class="col pt-3 pb-3") Do you speak spanish? Click here for the tranlated version of our site.
    section(class="row intro text-center")
      p(class="col pt-5 pb-5") Kale chips seitan kinfolk vape marfa, cronut direct trade. Artisan fashion axe hoodie man bun, master cleanse thundercats sriracha cliche jean. Art party bicycle rights single-origin coffee food truck af roof party 3 wolf moon chillwave VHS umami kickstarter XOXO raw denim butcher.
    section(class="row wc d-flex flex-column-reverse flex-md-row")
      div(class="col-md-6 d-flex align-items-center")
        div(class="m-5")
          h3 WORKERS COMPENSTION
          p Actually drinking vinegar schlitz, williamsburg tote bag literally air plant. Green juice trust fund synth humblebrag etsy hoodie. Dreamcatcher truffaut listicle snackwave edison bulb glossier. Banh mi semiotics small batch irony cornhole cred. Synth PBR&amp;B shoreditch brooklyn locavore franzen austin pour-over disrupt green juice fingerstache pinterest pickled butcher leggings.
          a(class="btn btn-primary btn-lg" href="#" role="button") Learn more
      div(class="col-md-6 section-img")
        img(src="/images/workers_comp.jpg" alt="Workers Compensation" class="img-fluid")
    section(class="row nfl")
      div(class="col-md-6 section-img")
        img(src="/images/nfl_concussions.jpg" alt="NFL Concussions" class="img-fluid")
      div(class="col-md-6 d-flex align-items-center")
        div(class="m-5")
          h3 NFL CONCUSSIONS
          p Actually drinking vinegar schlitz, williamsburg tote bag literally air plant. Green juice trust fund synth humblebrag etsy hoodie. Dreamcatcher truffaut listicle snackwave edison bulb glossier. Banh mi semiotics small batch irony cornhole cred. Synth PBR&amp;B shoreditch brooklyn locavore franzen austin pour-over disrupt green juice fingerstache pinterest pickled butcher leggings.
          a(class="btn btn-primary btn-lg" href="#" role="button") Learn more
  include ../partials/footer.pug

  include ../partials/scripts.pug