<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href="../../../../favicon.ico")
    title Mangosing Law Group
    link(href="https://fonts.googleapis.com/css?family=Raleway:100,300i,400,700|Roboto:300,400" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")
  body
    div(class="cover-container")
      header
        img(src="/images/horizontal_logo.svg" alt="Mangosing Law Group Logo")
      main(role="main")
        h1(class="blurb_header") Injured at work? Don't fight for your rights alone.
          br
          span Call us now for a free consulation.
        p(class="lead") Roxanne Mangosing and the entire staff at Mangosing Law Group take pride in fighting for injured workers’ rights. Formerly the Law Office of Kelley Ann Burg our firm specializes in moving through the complex Workers’ Compensation system, which now calls for the expertise of a knowledgeable attorney in order to achieve justice for injured workers. Don’t wait no matter what your job or injury is. Call our firm today for a free consultation.
        ul(class='contact-info')
          li Tel: 510-237-7982
          li Fax: 510-237-4797
          li Email: info@mangosinglawgroup.com
      footer
        p Site by Sean Mangosing Digital Designs

    script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
      crossorigin="anonymous")